[2015-11-06 13:40] bvssvni opened #2 "Bump to 0.2.0"
Currently depends on libc 0.1 https://crates.io/crates/libz-sys

[2015-11-06 18:22] alexcrichton commented on #2
Seems like a good idea to me! I'm working on adding automated testing for the bindings here to ensure they're correct, but once that's done I'll do a bump

[2015-11-06 22:42] #2 closed

[2016-04-19 13:58] derekdreery opened #5 "Cannot build for x86_64-pc-windows-gnu from x86_64-unknown-linux-gnu"
Here is the build log

[code]

[2016-04-19 15:04] alexcrichton commented on #5
Could you try out the master branch? I *think* that pretty much all MinGW distributions ship libz.a by default, so master just falls back to that for all MinGW targets.

[2016-04-19 16:04] derekdreery commented on #5
You're correct - build fine on master :)

[2016-04-19 16:04] #5 closed

[2016-04-19 16:18] alexcrichton commented on #5
Ok! I'll publish a new release with that change.

[2016-07-18 14:15] tbu- opened #9 "Crate doesn't seem to build on x86_64-unknown-linux-musl"
[code]

[2016-07-18 14:35] tbu- commented on #9
I'm sorry, `musl` wasn't installed.

[2016-07-18 14:35] #9 closed

[2016-09-20 19:58] raphaelcohn opened #10 "How do I supply my own libz?"
I'd really like to completely disable, or near completely disable, `build.rs`. Along with a few other rust packages, it's causing me some real build pain.

Build scripts are a nice idea for cargo, but they start over-stepping the mark when they start to compile up third party dependencies, rather than glue code or supporting ASM or the like. I support a couple of robust, secured Linux distros, whe

[2016-09-20 20:19] #10 closed

[2016-10-28 05:48] markusl opened #11 "Build fails on Windows 10"
I'm trying to compile rust-curl as part of my binary on a build machine which runs Windows 10. The build fails with following error logs. Any tips to get it working? Rust version 1.12 MSVC 64 bit.

[08:45:38][Step 1/1] error: failed to run custom build command for libz-sys v1.0.6
[08:45:38][Step 1/1] process didn't exit successfully: C:\BuildAgent-01\work\dac4b43613e8c67e\target\release\build\libz

[2016-10-28 13:46] alexcrichton commented on #11
Thanks for the report! I think this happened because the build script couldn't find `nmake.exe`. Normally that happens automatically through probing logic to find the VS installation, but it looks like that logic didn't work for you unfortunately! To get things running immediately you can run commands inside of the VS shell, but I'd also prefer to fix this at the source.

What does your installati

[2016-10-28 14:31] markusl commented on #11
I'll check this with another Windows 10 machine. The case here was a build service running as system account as can be seen from the path C:\Windows\system32\config\systemprofile.cargo Don't know if it makes difference. Should have normal VS2015 installation as the machine is used for other C++ builds as well.

[2016-10-31 01:51] alexcrichton commented on #11
Ah ok. In that case it's probably a failure of [this logic](https://github.com/alexcrichton/gcc-rs/blob/be620ac6d3ddb498cd0c700d5312c6a4c3c19597/src/windows_registry.rs#L51) to find the `nmake.exe` executable on your system. If you run a build manually (through a user) does it make a difference? That'd at least rule out the service-or-not cause perhaps.

Unfortunately though I'm not sure exactly w

[2016-10-31 07:34] markusl commented on #11
It looks about the same when running as normal user in Win10:

r>cargo build
   Compiling syn v0.9.2
   Compiling libz-sys v1.0.6
   Compiling time v0.1.35
   Compiling syntex_errors v0.46.0
Build failed, waiting for other jobs to finish...
error: failed to run custom build command for `libz-sys v1.0.6`
process didn't exit successfully: `C:\prod\version-notifier\target\debug\build\libz-sys-abc54d1

[2016-10-31 17:48] alexcrichton commented on #11
Could you try checking out gcc-rs and poking around `windows_registry.rs`? It may be that some variable is off somewhere or something like that, but there's something in there returning `None` that shouldn't...

[2016-11-01 09:20] markusl commented on #11
No luck either with GCC 5.3 from MinGW project and rust-1.12.1-x86_64-pc-windows-gnu

configure:4271: checking for C compiler version
configure:4280: gcc.exe --version >&5
gcc.exe (GCC) 5.3.0
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

config

[2016-11-02 00:13] alexcrichton commented on #11
Oh that error looks like the wrong vcvarsall script was run perhaps? You may have to run the one in either the x64 or amd64 directory, I forget what it's called...

[2017-01-18 00:51] cramertj commented on #11
I'm having this issue as well when trying to compile RLS on Windows 10:
[code]

[2017-01-18 01:57] cramertj commented on #11
And compiling in MINGW gives a completely different error altogether!
[code]

[2017-01-18 09:33] hoqhuuep commented on #11
I am also seeing this error compiling RLS on Windows 10.
[code]

[2017-01-18 18:01] alexcrichton commented on #11
@cramertj as you found your [original problem](https://github.com/alexcrichton/libz-sys/issues/11#issuecomment-273349271) was not being able to find `make`, but I'm not so sure about your [next problem](https://github.com/alexcrichton/libz-sys/issues/11#issuecomment-273360143).

Something like that should reproduce on AppVeyor, if at all, I would have though. (or for me locally). I'll take a look.

[2017-01-18 18:09] alexcrichton commented on #11
@cramertj I think I've fixed that issue in https://github.com/alexcrichton/libz-sys/commit/d73b64fbad64da73cd016a3760f8c9dc7388c087, can you test that out?

[2017-01-18 18:09] cramertj commented on #11
@alexcrichton Yea, I realized I only had `cmake` in my path, not `make`. Still getting the second error.

[2017-01-18 18:10] alexcrichton commented on #11
@hoqhuuep did you install Rust through rustup or the official installers?

[2017-01-18 18:12] cramertj commented on #11
I'll check!

[2017-01-18 18:17] cramertj commented on #11
@alexcrichton That fixed it. Thanks!

[2017-01-19 05:44] robojeb opened #13 "Build fails with "-z unexpected at this time" on Windows"
I am trying to build the git2 crate and one of its dependencies is libz-sys.

When it builds it fails during the install step with the error "-z unexpected at this time"

[code]

I have `cmake` and `make` and `gcc` installed.

[2017-01-19 08:03] hoqhuuep commented on #11
@alexcrichton Through rustup. Here are my versions.

[code]

I tried removing the executables from this directory but it did not make a difference:
[code]
This was my attempt at "just delete the bundled linker that comes with Rust".

[2017-01-19 17:17] alexcrichton commented on #13
Odd! @robojeb what version of `make` do you have installed? (is this an msys2 one?)

[2017-01-19 17:22] alexcrichton commented on #11
@hoqhuuep hm yes so the resolution (if you're getting the same error as [this issue](https://github.com/alexcrichton/curl-rust/issues/92#issuecomment-218831448)) is to remove the bundled linker, which you've found the right location for. Did the build not succeed after that was removed though? If not, could you gist the full error you're seeing?

[2017-01-20 02:48] robojeb commented on #13
@alexcrichton no, I installed MinGW. I totally forgot Msys2 exists. I will go try that as well.
Just for reference the version installed by MinGW is

[code]

[2017-01-20 03:12] robojeb commented on #13
Switching to Msys2 solved the make problem but introduces a compilation problem.

I presume I am missing some library (though it appears to be the standard library)

[code]

I don't know if it causes any problems to use the version of cargo on the default windows path rather than explicitly installing rustup inside Msys2.

[2017-01-20 08:08] hoqhuuep commented on #11
Absolutely, thanks a lot for taking a look!

https://gist.github.com/hoqhuuep/8226e0efb2cc678d3732ba0ea51c7005#file-rls-build-error-on-windows-10-L322-L328

That gist also includes versions, path, etc. at the start.

[2017-01-20 17:08] alexcrichton commented on #11
@hoqhuuep I think there's a bunch of vendored libraries that come with the rust-mingw component as well, could you try deleting them as well?

[2017-01-20 18:39] alexcrichton commented on #13
Hm it looks like compilers are getting mixed up or something like that? If functions like `close` don't exist that seems like a serious problem!

[2017-01-21 00:43] hoqhuuep commented on #11
Huzzah! After much trial and error I now have the RLS extension working in VSCode 😃

Thanks so much for your pointers!

For anyone else having the same issue, here's what finally worked for me:

* Move the 4 executables out of "C:\Users\Daniel\.rustup\toolchains\nightly-x86_64-pc-windows-gnu\lib\rustlib\x86_64-pc-windows-gnu\bin" (don't delete them, you'll need them later)
* Move "libmingwex.a" an

[2017-01-21 03:35] robojeb commented on #13
The implicit declarations are just warnings, though ominous. I can actually quell them by injecting `#include <unistd.h>`

The biggest issue is that it seems that `gzopen_w` is not being built.
I have tried building in msys64, msys32, cmd, and powershell.
I even tried re-running the `configure` script in the cargo registry, and doing a clean build.
My thinking was that it was related to a define n

[2017-01-21 04:26] robojeb commented on #13
I managed to get this to build (though now I have errors with libssh2-sys, but I think I will give up and go to linux for now).

For reference to fix the issue I referenced [https://github.com/madler/zlib/issues/45](this issue).
Adding `|| defined __CYGWIN__` right before the definition of the function `gzopen_w` in `gzlib.c` will allow the build to proceed.

@alexcrichton it looks like the versio

[2017-01-21 05:01] robojeb commented on #13
Please ignore me while I sit here and blather to myself.
I ran a cargo update and it pulled 1.0.12 which compiles fine apparently.

[2017-01-21 05:01] #13 closed

[2017-01-22 18:42] alexcrichton commented on #13
@robojeb glad it got worked out!

[2017-01-22 18:43] alexcrichton commented on #11
@hoqhuuep what dll dependencies did you find were there? I know that the ones in `rustlib/.../lib` are expected (those are Rust libraries) but what's depended on in `/mingw64/bin/...`?

[2017-01-22 22:06] hoqhuuep commented on #11
@alexcrichton it will not run without these 3 DLLs from /mingw64/bin
* libstdc++-6.dll
* libgcc_s_seh-1.dll
* libwinpthread-1.dll

[2017-01-23 04:31] alexcrichton commented on #11
@hoqhuuep ah yeah that makes sense, those are all required by LLVM (in the compiler) which the rls links to.

Sounds like the issues here have been solved though! So I'm going to close tis.

[2017-01-23 04:31] #11 closed

[2017-02-20 01:02] shssoichiro opened #15 "Inflate fails with error code -2 on zlib 1.2.11"
I have a library that calls into libz-sys as such:

[code]

This code, to the best of my knowledge, worked on zlib 1.2.10 (I no longer have easy access to 1.2.10 to test with, but this definitely worked on 1.2.8), but fails on Linux using zlib 1.2.11, with "Error code on decompress: -2", on the line calling `libz_sys::inflate`. Could there have been a breaking change between the zlib versions that

[2017-02-21 16:37] alexcrichton commented on #15
Hm maybe? I'm not too familiar with the internals of zlib unfortunately :(

[2017-02-22 02:49] shssoichiro commented on #15
Unfortunately I was unable to determine if this was a bug in this crate, and have switched my crate to miniz-sys as a workaround. I'll close this for now, and if it becomes determined that this is a bug in this crate, it can be reopened.

[2017-02-22 02:49] #15 closed

[2017-05-07 05:00] ishitatsuyuki opened #16 "AddressSanitizer: odr-violation"
Just came across with this failure when trying ASan:

[code]

I'm not sure if this can be ignored.

[2017-05-07 07:02] ishitatsuyuki commented on #16
Since this is about 0 sized things, I'm moving this to compiler repo.

[2017-05-07 07:02] #16 closed

[2017-08-09 15:21] alexcrichton opened #20 "Detect when -lz doesn't work and compile zlib from source"
We've got all the sources on hand! We should [detect this failure mode](https://github.com/alexcrichton/libz-sys/blob/812e0c238778fb1a9f93e5c43b9b0c17a018a789/build.rs#L52-L53) and defer to `build_zlib()`

[2017-08-09 15:21] alexcrichton commented on #20
@evhub if you're willing to write up a patch for this I'd love to review!

[2017-08-09 15:30] cssivision commented on #20
i think i can fire a pr to fix this(for learning rust).

[2017-08-09 16:03] Diggsey opened #21 "Use `rerun-if-changed`/`rerun-if-env-changed` appropriately in build script"

[2017-08-09 16:22] cssivision commented on #21
i can produce a pr to i will fix this. @alexcrichton @Diggsey

[2017-08-09 16:22] cssivision commented on #21
i can produce a pr to i will fix this. @alexcrichton @Diggsey

[2017-08-09 17:50] alexcrichton commented on #20
Awesome, thanks! Let me know if you have any questions

[2017-08-10 02:32] glandium opened #22 "Vendored version of zlib is 4 years old."
There has been 3 releases in the meanwhile:

[2017-08-10 13:39] cssivision commented on #20
it seems that i have made a mistake, i try to detect `libz.so` using crate `pkg-config` with:
[code]
without installing `zlib-dev` they both return `false`, after install `zlib-dev` also return `false`.
it seems `pkg-config` is not work for this lib, finally i found the dynamic lib in path `/lib/x86_64-linux-gnu/libz.so.1`,  zlib1g-dev package in ubuntu 14.04 does not contain pkg-config file zlib.

[2017-08-10 13:59] #22 closed

[2017-08-10 15:18] cssivision commented on #20
it has nothing to do with `pkg-config`. it's a exception in ubuntu 14.04, there is no default `libz.so` installed,  in centos 7 there exists `libz.so`, without `zlib-devel` installed, also can build this crate, but `pkg_config::find_library("zlib").is_ok()` will return `false`, after installing `zlib-devel`, `pkg_config::find_library("zlib").is_ok()` will return `true`.

but ubuntu 14.04 will alwa

[2017-08-10 16:47] alexcrichton commented on #20
Ah yeah the reason there's a fallback of just printing `rustc-link-lib=z` is because it seemed common at the time to find `libz.so` *without* having pkg-config installed. I think what we may want to do is to just try compilling a simple C file with `-lz` and see if it compiles and links correctly. If that fails we'd fall back to `build_zlib()`

[2017-08-11 10:28] cssivision commented on #20
like this?
[code]

[2017-08-11 15:21] alexcrichton commented on #20
Ah unfortunately that won't actually invoke the linker, so it won't detect the failure. I think it's fine though to use `gcc`'s `get_compiler` method and then use that to invoke the compiler manually?

[2017-08-11 17:51] cssivision commented on #20
yes, use `get_compiler().to_command().exec()` does the trick. but i finally find that `pkg_config::probe_linrary("zlib").is_ok()` works for ubuntu 14.04. it turns out that there is something wrong with the my server. built from a new ubuntu 14.04 server, everything is just ok.

find libz.so without having pkg-config installed is nice, but in the `build.rs` we have imported crate `pkg_config`,  i p

[2017-08-16 17:12] alexcrichton commented on #20
Ah sorry for the delay! @cssivision I think we [already use `pkg_config`](https://github.com/alexcrichton/libz-sys/blob/c1814bbe601e4abcd92ada6285336156facdd28f/build.rs#L32), right? Is there a different invocation you're thinking of?

[2017-09-17 14:50] johnsheleg commented on #13
Is there a solution to this problem besides using Msys2?

[2017-11-23 08:42] BusyJay commented on #20
Why not just compiling from sources and link to system library when required? So we can get a consistent binary (always link to the same version of zlib) by default no matter whether zlib is installed on host or not.

[2017-12-01 21:29] #21 closed

[2017-12-12 17:18] void-dragon opened #34 "build fail on windows"
compiling libz on windows fails.

rust toolchain: stable-x86_64-pc-windows-gnu
gcc: nuwen mingw

the libz.a from mingw is not used, which seems legit. but i do not understand why the build from scratch fails.

it tells at the end "flag -z not usable at this position" but, i dont know what to do about it.

[code]

[2017-12-13 05:18] alexcrichton commented on #34
Thanks for the report! It looks like that error message may be cut off though? Is there other bits that it printed out?

[2017-12-13 22:12] void-dragon commented on #34
no, unfortunately thats everything

[2017-12-15 15:38] alexcrichton commented on #34
Sorry I'm not sure what's going on in that case :(

[2017-12-29 14:11] rainboh opened #35 "build for target=arm...musl fails"
I tried to x-compile on a x86_64 linux system

[code]

all are failing with error "Compiler error reporting is too harsh for ./configure (perhaps remove -Werror)", e.g.

[code]

Some additonal setup or parameters are needed for cross-compiling ?

[2017-12-29 16:46] rainboh commented on #35
configure.log reports
[code]

Now I tried compiling with
[code]
1) does succeed.
2) reports in configure.log
[code]
3) outputs a bunch of compile errors on console

Is 1) a proper solution to compile the crate  ? (I thought 'cargo build target=...' is sufficient )
Or do I need to get "arm-linux-musleabihf-gcc" ? If yes where can I get it ? (I'm on Ubuntu 17.10)

[2017-12-31 14:25] rainboh commented on #35
Ok. My expectation was same as expresssed here https://github.com/rust-lang/cargo/issues/4741#issuecomment-349750036

From discussion there I can see, currently it is still necessary to pass via environment variables proper information about compiler, include path, library path ... beside cargo's 'target=...' option

So either "CC=arm-linux-gnueabihf-gcc" or "CROSS_COMPILE="arm-linux-gnueabihf-" a

[2018-01-03 15:45] alexcrichton commented on #35
Hello and thanks for the report! Looks like you've found what's up though in the sense that it looks like you needed to configure the C compiler for the cross-compilation. I'd recommend using [`CC_$target`](https://github.com/alexcrichton/cc-rs#external-configuration-via-environment-variables) personally.

[2018-01-03 18:25] rainboh commented on #35
Thanks for your confirmation.

[2018-01-03 18:26] #35 closed

[2018-03-14 15:12] Jake-Shadle commented on #34
Here's the output on my machine for what I assume is the same error.

[code]

It seems the makefile is assuming that gcc is in PATH, which I guess is a fair assumption in most cases.

[2018-04-01 19:05] klausi opened #36 "Yank all broken versions from crates.io"
https://crates.io/crates/libz-sys contains quite a few versions that do not compile with recent Rust versions, they should be yanked.

* 0.0.1:
[code]
* 0.1.0

0.1.1 does not compile because pkg-config v0.3.0 does not compile, so we probably also need to yank broken versions there.

[2018-04-02 16:11] alexcrichton commented on #36
Thanks for the report! I [commented over on the Cargo PR](https://github.com/rust-lang/cargo/pull/5275#issuecomment-377965911) though in that I don't think this is quite the right solution, so I'm going to close this.

[2018-04-02 16:11] #36 closed

[2018-05-11 19:30] Pzixel commented on #34
[code]

it's not valid bat code.

[2018-05-11 19:49] Pzixel commented on #34
I replaced this part with:

[code]

But now it fails to compile:

[code]

[2018-07-16 09:33] Pzixel commented on #11
Have this issue on my machine as well.

MSVC toolchain:

[code]

GNU toolchain:

[code]

[2018-07-16 14:04] alexcrichton commented on #11
@Pzixel are you running from the VS tools prompt? If that's the case you'll want to make sure you're using the 64-bit prompt, not the x86 one

[2018-07-16 16:08] Pzixel commented on #11
@alexcrichton yep, x64 promt did the trick. thank you.

However, do you plan to make it run on GNU toolchain somewhere in a lifetime? :) I actually doesn't run msvc toolchain because gdb is not compatible with it, I only installed the whole toolchain just to make `cargo-tree` compile. It's not very convinient.

[2018-07-16 16:13] alexcrichton commented on #11
@Pzixel oh this crate should already be compatible with the GNU toolchain! We use it extensively in rustc which works with the GNU toolchain

[2018-07-16 16:15] Pzixel commented on #11
Well, as I have shown before it doesn't work well (see `GNU toolchain` section above). Maybe i'm doing something wrong? But I can't see what else can I do: I just typed a sinleline command and it failed.

[2018-07-16 16:16] alexcrichton commented on #11
@Pzixel yeah something is going wrong there, it looks like `make` is segfaulting or something like that? Are you sure you're running the build from the MSYS/MinGW prompts?

[2018-07-16 16:17] Pzixel commented on #11
@alexcrichton I'm using git bash for such a purpose, so I'm pretty sure I am :)

![image](https://user-images.githubusercontent.com/11201122/42770111-dbee82f4-892c-11e8-9313-42465bfb7faf.png)

[2018-07-16 16:39] alexcrichton commented on #11
Alas :(

That still looks like isn't not an issue with this crate though but rather one with your environment. You may want to try executing `make` itself and get that working before trying the libz-sys build again

[2018-08-04 19:34] jminer opened #37 "Fails to build with msvc target"
I tried to `cargo install` Racer today, but it failed because libz-sys failed to compile. I have `cargo install`ed Racer before, but I think it was with the gnu target. I recently switched to msvc, partially because that's what ring recommends. I'm using

[code]

When it wouldn't build with Visual Studio 2017 RC, I updated to 15.7.3 today, but no change.

I just cloned the libz-sys repository, ope

[2018-08-18 02:32] jminer commented on #37
I spent a few minutes investigating where the problem is. I tried calling `find_tool("i686-pc-windows-msvc", "nmake.exe")` and of course it returns `None`. Looking into the code, `vs15_vc_paths` is returning `bin_path` =

    C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.14.26428\bin\HostX64\x86

But there's no `nmake.exe` in that folder. It has `cl.exe`, `lib.exe`

[2018-09-13 21:40] alexcrichton commented on #34
I've retooled the build in https://github.com/alexcrichton/libz-sys/pull/40, so this should be fixed now

[2018-09-13 21:40] #34 closed

[2018-09-13 21:41] alexcrichton commented on #37
I've retooled the build in https://github.com/alexcrichton/libz-sys/pull/40, so this should be fixed now

[2018-09-13 21:41] #37 closed

[2018-09-13 21:43] #20 closed

[2018-09-13 22:00] Pzixel commented on #34
It more looks like "let's not support gnu-windows at all" :)

[2018-09-17 16:12] asajeffrey opened #41 "Version 1.0.22 doesn't compile with Rust 1.25"
We're getting build failures on travis caused by using features which were unstable in Rust 1.25, e.g. https://travis-ci.org/servo/mozjs/jobs/429237190.

[2018-09-17 17:18] alexcrichton commented on #41
This crate currently supports the last two stable releases officially, but support for older versions is always welcome through PRs!

[2018-09-30 13:40] brion opened #43 "Windows-msvc is slower than Linux or macOS (no asm)"
I'm using libz-sys in a multithreaded PNG encoder and found that [my Windows builds run slower than Linux or macOS builds](https://github.com/brion/mtpng/issues/3); much of the difference seems to be down to how zlib is built.

For my test compressing a very large screenshot on a single thread:

* static version: 671ms
* vcpkg-built zlib1.dll: 646ms
* manually-built zlib1.dll with asm: 596ms
* Lin

[2018-09-30 15:46] alexcrichton commented on #43
Oh dear, thanks for the report! The `cc` crate does indeed have support for simply feeding it assembly files (and it takes care of compliation on platforms and making sure the objects make their way to the linker)

I didn't know though that zlib had asm files to build! What files were you thinking we should build?

[2018-09-30 18:12] brion commented on #43
Cool! The .asm files for each platform are hiding under "contrib" which made them a bit invisible to me at first ;) but there's a note in the [win32 Makefile](https://github.com/madler/zlib/blob/master/win32/Makefile.msc) listing how to enable them there.

Need to set defines on the C compiles:
* -DASMV
* -DASMINF

Files for x64:
* contrib\masmx64\inffasx64.asm
* contrib\masmx64\gvmat64.asm
* cont

[2018-10-01 16:48] alexcrichton commented on #43
Ah ok, cool! Are we sure it's a good idea to use those? There's a [relatively scary comment](https://github.com/madler/zlib/blob/cacf7f1d4e3d44d871b605da3b647f07d718623f/contrib/README.contrib#L1-L4) indicating that they're not necessarily recommended for use

[2018-10-01 17:12] ras0219-msft commented on #43
@brion We'd also be happy to accept PR's in vcpkg to enable the ASM!

[2018-10-01 20:27] brion commented on #43
Hmm, after more careful poking the Debian/Ubuntu package doesn't _appear_ to be using the gcc asm either, unless it's triggering via some means I don't understand (Deb packages confuse me!) but it's sure faster... Not 100% sure what's the best course of action here.

[2018-10-01 21:13] alexcrichton commented on #43
Perhaps an off-by-default feature could be included? That way users could determine if the asm works for them?

[2018-10-01 21:15] brion commented on #43
Sounds good -- then can opt in easily. :)

[2018-10-01 22:14] alexcrichton commented on #43
@brion want to test out https://github.com/alexcrichton/libz-sys/tree/asm and see if it works for you?

[2018-10-01 23:27] brion commented on #43
@alexcrichton works great, I see a definite improvement of several percent in total PNG encoding throughput when enabling the 'asm' feature on Windows, both x86_64 and x86. :)

[2018-10-02 16:16] alexcrichton commented on #43
Ok thanks! I've pushed that to master now

[2018-10-02 16:16] #43 closed

[2018-10-12 01:24] tiras-j opened #44 "Regression building iOS targets between 1.0.20 --> 1.0.21+"
Looking at the commits I'm guessing this has something to do with the rework to use `cc` crate for building libz, but for the life of me I can't figure out why.

Targets I'm building for (and results on 1.0.21, which are the same afaict to master branch):
- `aarch64-apple-ios` fails trying to resolve snprintf of all things [see gist output](https://gist.github.com/tiras-j/2bbc0dd1c57f7f54a657dcfa5

[2018-10-12 01:28] tiras-j commented on #44
Well speaking of checking into the #define options to the compiler... looks like `-D_POSIX_SOURCE` is the problem [somehow](https://gist.github.com/tiras-j/ad7e54c50bee4beb3a01804259e4cd74).

I'll look into that a bit and see if I can come up with anything.

[2018-10-12 03:55] alexcrichton commented on #44
Ah sorry for the breakage! That seems like a reasonable fix to me as well, want to send a PR to do that on ios?

[2018-10-12 04:38] #44 closed

[2018-11-05 09:58] Arthur111 opened #47 ""error: no packages found with binaries or examples" when install"
I downloaded the project and build it (cargo build --release) and its ok. ("Finished release [optimized] target(s) in 8.21s")
But when i try to install it with : cargo install , i got the message "error: no packages found with binaries or examples"

How can i resolve that , thank you

[2018-11-05 16:22] alexcrichton commented on #47
Thanks for the report! There's no need, however, to run `cargo install` for this crate. You don't need to `cargo install` crates to use them, they can simply be added to `Cargo.toml` for projects and Cargo will automatically download and build them!

[2018-11-05 16:22] #47 closed

[2018-11-13 03:59] equal-l2 opened #48 "Build fails on macOS 10.14.1"
During building `cargo-update`, `libz-sys` fails to build.

[code]

[2018-11-13 15:59] alexcrichton commented on #48
Thanks for the report! This looks worrisome in the sense that the *build script itself* is segfaulting (signal 11). Would you be able to help out acquiring a stack trace of where the segfault is happening?

[2018-11-20 17:14] equal-l2 commented on #48
Sorry, I forgot I had modified the `RUSTFLAG`.
(`export RUSTFLAGS='-C linker=rust-lld -Z linker-flavor=ld64.lld'`)

I should have remember that this sort of issue is usual when using lld.

[2018-11-20 17:14] #48 closed

[2019-02-07 00:26] rinon opened #49 "pkg_config always adds system-wide path to rustc-link-search"
Could we get `.print_system_libs(false)` added to the pkg_config `Config`? libz-sys is far down the dependency chain from my package and adds `/usr/lib` to the search path. This means that the linker grabs another library we want to link against from `/usr/lib` instead of our non-system search path that we add using `rustc-link-search`.

This is the same basic issue as https://github.com/sfackler/

[2019-02-11 13:02] alexcrichton commented on #49
Thanks for the report! I don't think the answer is to not print out `-lz`, but to just not print out `-L /usr/...`. Currently I don't think there's an easy way to do that.

[2019-02-11 22:31] rinon commented on #49
If I understand `Config.print_system_libs` correctly, it just sets `PKG_CONFIG_ALLOW_SYSTEM_LIBS=1` for `pkg-config`, which just skips printing `-L /usr/lib` according to the man page:

Don't strip -L/usr/lib out of libs

[2019-02-12 13:53] alexcrichton commented on #49
Ok seems like it just needs a PR then!

[2019-03-18 12:10] hvenev opened #51 "Add a feature that makes vendored builds fail"
This will prevent bugs like #22 from being a problem.

[2019-03-22 13:37] lwshang opened #52 "Travis-CI badge point to wrong url"
The build status badge at the top of README always shown "unknown". If click the badge, the travis-ci page says "We couldn't find the repositories alexcrichton/libz-sys".

I believe that we should change the badge to [![Build Status](https://travis-ci.com/rust-lang/libz-sys.svg?branch=master)](https://travis-ci.com/rust-lang/libz-sys), in which I just replace `alexcrichton` by `rust-lang`.

[2019-09-11 07:48] crlf0710 opened #55 "z_stream::zalloc and z_stream::zfree should be able to set to None(null pointer)"

[2019-09-24 11:11] 999eagle opened #56 "Linking fails on Windows if other -sys crates link to the system zlib"
I'm trying to compile something for Windows, but I have a static link version of zlib on my include and lib paths. Other -sys crates link to the system installed zlib, but as libz-sys builds zlib again this leads to the following error:
[code]

Is it possible for libz-sys to use the system zlib if it's available? I think the call to `zlib_installed` should be just made on msvc as well and that's i

[2019-11-09 11:54] crlf0710 commented on #55
https://github.com/rust-lang/rust/pull/66059 is gonna turn some code into panic, i think.

[2019-11-15 17:52] RalfJung commented on #55
Oh so these are function pointers (`fn()` types)? Indeed instantiating those with `mem::zeroed()` or `mem::uninitialized()` is immediate UB. If you want a nullable function pointer, use `Option<fn()>`; that one you can zero-initialize.

[2019-11-15 18:10] crlf0710 commented on #55
@RalfJung Yes, and that will be a breaking change for this crate.

[2019-12-07 16:15] kornelski opened #57 "Yank breaking versions with "*" deps"
An old version of `libz-sys` has dependencies specified with `"*"` version requirement (`libc = "*"`, `pkg-config = "*"`).

Crates with such vague dependency versions became unusable, because `*` allows picking too-new semver-incompatible dependencies.
It also breaks Cargo's `minimal-versions` feature, because `*` requirement allows picking very very old dependencies that aren't compatible with Ru

[2020-01-05 01:33] taralx opened #59 "z_stream is must be pinned after being initialized"
inflateInit allocates a `state` object that points back to the `z_stream`. If it moves after that, then all subsequent calls result in `Z_STREAM_ERROR` due to pointer mismatch. So everyone who is using `z_stream` by value is unfortunately doing it wrong.

[2020-01-05 01:45] taralx commented on #59
At minimum, please `impl !Unpin for z_stream`.

[2020-01-15 23:34] mattfs commented on #59
I hit this same bug a ways back before I fully understood Pin. +1 to `impl !Unpin`.

[2020-01-20 04:22] HenkPoley commented on #11
Just since this is somehow the top result on Google for "STATUS_DLL_NOT_FOUND cargo build". How to trace and solve any random occurence:

Download SysInternals procexp64.exe (or just every tool). After startup immediately hit the looking glass 'Stop capture' button (Ctrl+E). And 'Clear' (Ctrl+X).

Set filters for:

* 'Process name' is 'build-script-build.exe' (or whatever the mentioned process nam

[2020-04-20 11:09] gilescope opened #62 "Could the readme also point to pure rust alternatives?"
Hi Alex,

Now that fancy is available as an alternative to ongi for regex, the next most widely used crate that doesn't just easily build on windows is this one (in my very non-generalized experience). Here's an example of it not working out of the box:

[code]

Can we let people know in the readme that there are pure rust alternatives that might well have less build issues?
I'm pretty sure you ha

[2020-07-01 05:53] #52 closed

[2020-07-01 05:56] joshtriplett commented on #57
It looks like there are multiple old versions of libz-sys that have unversioned dependencies: 0.0.1 has an unversioned dependency on pkg-config, and 0.1.3 has an unversioned dependency on libc. Are you suggesting yanking both?

[2020-07-01 06:06] joshtriplett commented on #49
Merged.

[2020-07-01 06:06] #49 closed

[2020-07-01 06:32] joshtriplett opened #63 "Should support alternative implementations of zlib"
`libz-sys` should have a feature to use an alternative zlib implementation, such as `zlib-ng`. That would reduce the problem such alternative implementations currently have, of potentially ending up with two conflicting versions of zlib in the same binary. (This could still happen if linking to a system library that links to zlib, though.)

[2020-07-01 15:11] kornelski commented on #57
Yes.

[2020-07-01 23:10] joshtriplett commented on #57
Done.

[2020-07-01 23:10] #57 closed

[2020-07-03 16:46] RReverser opened #64 "Release a new version"
Just an issue for tracking - https://github.com/rust-lang/libz-sys/pull/60 has been recently finally merged, but needs a new release to crates.io.

[2020-08-12 07:28] brainstorm commented on #63
Indeed, would you accept repointing of the submodule to this implementation instead?:

https://blog.cloudflare.com/cloudflare-fights-cancer/
https://github.com/cloudflare/zlib

I think this would speed up a few crates that use `libz-sys` significantly "for free" (see benchmark plots on the blogpost).

[2020-08-12 22:11] brainstorm commented on #63
For now I'll try to use this crate: https://crates.io/crates/cloudflare-zlib-sys

[2020-08-14 16:14] joshtriplett commented on #63
@brainstorm Not "repointing", no; cloudflare's zlib has portability issues. It also isn't the highest performance; see https://github.com/Byron/gitoxide/issues/1#issuecomment-672626465 for some informal benchmarks.

[2020-08-14 17:41] joshtriplett commented on #41
There hasn't been any activity on this issue in nearly two years. If there's still, today, a specific use case to build on some specific older version of rustc, please open a separate issue.

[2020-08-14 17:41] #41 closed

[2020-08-14 17:51] joshtriplett commented on #59
cc @stjepang

Could you weigh in on this? This makes sense to me, but I would appreciate some review from someone I know has a deep understanding of `Pin` and `Unpin`.

[2020-08-14 18:14] stjepang commented on #59
Implementing `!Unpin` for `z_stream` seems like a good idea (btw, `PhantomPinned` marker can help with that). However, that's not very helpful unless functions taking a pointer to `z_stream` are changed to take a `Pin<&mut z_stream>` instead.

Take the following function as an example:

[code]

If we make `z_stream` an `!Unpin` type, then nothing prevents us from misusing it yet. We'd have to chan

[2020-08-14 20:11] joshtriplett commented on #59
@stjepang The most common use of `libz-sys` is in `flate2`, which provides a higher-level API atop it.

The functions here do indeed take raw pointers, and there's an assumption that once you initialize, you won't move the objects around.

Given that these functions take raw pointers, and that they're an ABI that we shouldn't change, I don't think we should change them to take a `Pin`. That's some

[2020-08-14 20:11] #59 closed

[2020-08-14 20:35] joshtriplett commented on #62
Done, and thanks for the suggestion.

[2020-08-14 20:35] #62 closed

[2020-08-14 22:22] joshtriplett commented on #64
Done!

[2020-08-14 22:22] #64 closed

[2020-08-14 23:58] Kage-Yami opened #65 "error: failed to run custom build command for `libz-sys v1.0.26`"
I've found today that this crate doesn't seem to build for me anymore, rendering me unable to use `cargo-update` and `cargo-tarpaulin`.

Failure attempting to build `v4.1.1` of `cargo-update` on Debian LXC container (Crostini / Chrome OS):
https://gitlab.com/-/snippets/2004672

Failure attempting to build `v0.14.2` of `cargo-tarpaulin` on Debian Docker image (`rust:slim` in `docker:latest` / `dock

[2020-08-15 01:35] markmandel commented on #65
If it helps at all, here is a more detailed error report I got:

[code]

[2020-08-15 02:00] joshtriplett commented on #65
Looks like somehow the `src/zlib` directory didn't get uploaded; will fix today. Thanks for the report.

[2020-08-15 02:11] taralx commented on #59
Hi, can we at least make it !Unpin so safe wrappers do the right thing? That shouldn't change anything unless people are using Pin already, which is basically no-one.

[2020-08-15 02:11] taralx commented on #59
It's not possible to do outside of this crate.

[2020-08-15 02:14] joshtriplett commented on #65
Fixed.

[2020-08-15 02:14] #65 closed

[2020-08-16 10:53] brainstorm commented on #63
Super interesting, thanks for sharing the benchmarks! I'll try to carve some time to give `zlib-ng` a go (according to https://github.com/rust-lang/libz-sys/commit/754ca14ba8b562afeaf83cc4b44c32d51fc430a6)...I hope it's not `x86_64-unknown-linux-musl` problematic, I've not seen the target in `appveyor.yml`. Thanks for your reply and insight in any case!

[2020-08-17 01:01] joshtriplett commented on #63
@brainstorm It *should* work fine on musl. Please give it a try and let me know if it works.

[2020-08-17 01:04] joshtriplett commented on #55
Unfortunately, this would indeed be a breaking ABI change in `libz-sys`, and that would be a major disruption to the ecosystem. I'm going to leave this issue open, to document the problem, but I don't think it's going to be fixable.

[2020-08-17 07:15] RalfJung commented on #55
This is a UB bug, and as our UB diagnostics [get better](https://github.com/rust-lang/rust/pull/71274) might become a panic. Specifically, [lines like this](https://github.com/crlf0710/tectonic/blob/957fad292b2bdb0ec0f8472009ee8954f35ec21c/dpx/src/dpx_pdfobj.rs#L2229) will panic.

[2020-08-17 07:46] joshtriplett commented on #55
@RalfJung The UB isn't in this crate, though. It's in any crate that creates a zeroed `z_stream`.

I would love to fix this, but I don't see how that could be possible without breaking ABI.

[2020-08-17 08:22] RalfJung commented on #55
@joshtriplett

Fair. This crate makes it impossible to avoid the UB though.

Not sure how feasible that is, but there could be a new `z_stream2` struct with the fixed types, and corresponding versions of z_stream-taking functions? Many of those seem to be by-pointer anyway, and `z_streamp` works for both `z_stream` and `z_stream2` as it is just a raw pointer.

[2020-08-18 00:46] joshtriplett commented on #63
@brainstorm Currently fixing some issues; new version shortly, which I've now confirmed works on musl (and which will test musl in CI).

[2020-08-18 04:07] joshtriplett commented on #55
@RalfJung

You can avoid the UB by setting the pointers to a valid value. You just can't set the pointers to NULL and rely on the defaults.

Interesting. Would it be UB to transmute a raw pointer to a `z_stream2` (or `some_module::z_stream`) to a raw pointer to `z_stream`? Or is that OK as long as nothing dereferences that pointer and that pointer is passed directly to C?

[2020-08-18 06:16] RalfJung commented on #55
Right. So you cannot use the entire zlib API (the defaults) and you cannot use `mem::zeroed` to prepare the zlib config struct -- not sure if that was ever an intended use-case, and not sure how often it happens, I just know there is at least one crate to do this.

Raw pointers may point to anything. They do not even have to be dereferencable, or aligned, or anything like that. That's their key re

[2020-08-18 09:09] joshtriplett commented on #63
Done and released in libz-sys 1.1.0.

[2020-08-18 09:09] #63 closed

[2020-08-25 03:47] brainstorm commented on #63
Getting an interesting segfault on our CI:

https://github.com/rust-bio/rust-htslib/pull/237/checks?check_run_id=1024717376#step:7:1962

Will investigate on that PR... have you seen something similar in your tests?

[2020-08-26 04:35] joshtriplett commented on #63
@brainstorm Ah, interesting. Yeah, that assert isn't valid with an alternate zlib implementation; `compressBound` is allowed to return a different value. It's a worst-case bound, not a normal case.

[2020-09-02 11:37] yangzhe1990 opened #69 "Needs -DNO_snprintf -DNO_vsnprintf for Mac OS X 10.15.6 Darwin Kernel Version 19.6.0"
cargo:warning=src/zlib/gzlib.c:214:15: error: implicitly declaring library function 'snprintf' with type 'int (char *, unsigned long, const char *, ...)' [-Werror,-Wimplicit-function-declaration]
cargo:warning=        (void)snprintf(state->path, len + 1, "%s", (const char *)path);
cargo:warning=              ^
cargo:warning=src/zlib/gzlib.c:214:15: note: include the header <stdio.h> or explicitly

[2020-09-02 14:02] yangzhe1990 commented on #69
The CommandLineTool SDK version is 10.15

[2020-09-03 03:46] joshtriplett commented on #69
vsnprintf and snprintf are standard C library functions in C99. I'm certainly hoping that macOS did not suddenly break C99.

It'd be helpful to have a macOS user to help with this bug.

[2020-09-03 03:46] jamtur01 commented on #69
@joshtriplett What do you need?

[2020-09-03 03:52] joshtriplett commented on #69
@jamtur01 I'm hoping that macOS has these standard C99 functions, and there's just some kind of missing detail to make this work on macOS. I don't want to avoid calling them, I'd like to understand what's actually going wrong on macOS that they're not compiling. I don't have access to a macOS system to debug, and this isn't failing on the macOS systems in GitHub Actions CI.

[2020-09-03 03:59] jamtur01 commented on #69
What version of macOS is the GH actions CI host? It's failing on 10.15.6 for me. I have access to a host if you have anything you'd like me to test.

[code]

[2020-09-03 04:03] joshtriplett commented on #69
I'm not doubting that it fails. I'm asking someone who has that version of macOS to debug it, and figure out what zlib isn't doing and why it can't call `snprintf` and `vsnprintf` on macOS.

[2020-09-03 04:16] jamtur01 commented on #69
I found this which I think is related: https://github.com/rust-lang/rust/issues/75131

[2020-09-03 05:05] joshtriplett commented on #69
That's helpful, thank you! I think I know how to fix this now.

[2020-09-03 23:03] joshtriplett commented on #69
@jamtur01 @yangzhe1990 Could you please test the latest commit to libz-sys? I believe that https://github.com/rust-lang/libz-sys/commit/81026e996eb3804acf1e6898a3c1d791cdfb59f1 should fix this. If so, I can publish a 1.1.2 release with this fix.

[2020-09-04 02:38] jamtur01 commented on #69
@joshtriplett Fixed! Thank you!

[2020-09-04 03:52] joshtriplett commented on #69
I've uploaded libz-sys 1.1.2 with this fix. Thanks for the help sorting it out!

[2020-09-04 03:52] #69 closed

[2020-09-04 03:55] jamtur01 commented on #69
Thanks for fixing it so promptly! 👍

[2020-12-03 16:28] youknowone opened #70 "Missing pkg-config silently ignored and pass to next step"
This is not a bug, But until reading `build.rs`, I didn't realize I don't have a proper `pkg-config` but tried to add CPATH and LIBRARY_PATH.

Printing a warning about this will be helpful for this situation.

[2021-01-12 15:07] Sebbl0508 opened #74 "Building on Windows does not Work"
When trying to build on windows it fails with exit code 1, the following is the end of output running `cargo run -vv`
[code]
rustc version: `rustc 1.49.0 (e1884a8e3 2020-12-29)`
cargo version: `cargo 1.49.0 (d00d64df9 2020-12-05)`

[2021-01-12 15:48] Sebbl0508 commented on #74
So, switching my toolchain from `stable-x86_64-pc-windows-msvc` to `stable-x86_64-pc-windows-gnu` made it work

[2021-01-12 15:48] #74 closed

[2021-02-19 16:25] andrewdavidmackenzie opened #76 "Struggling to cross-compile for PiZero ("arm")"
I'm trying to build a project of mine that depends on libz-sys for my raspbery pi zero:

[code]

but I get this error. I will continue to look into it, but I'm not very expert in this area, so post it here meantime in case someone can shed some light on it and save me A LOT of time.... thanks in advance.

[code]

[2021-02-21 10:38] andrewdavidmackenzie commented on #76
OK, I think I understand - the header files needed to compile this are not on the host where I am compiling.
I've come across this before and should have remembered.
Solutions:
- install those packages with headers _for the other architecture_ on my host machine at a new sys root.
- copy them across from the target host into a new local sysroot.

I wish there was a good way to automate that, if yo

[2021-02-21 10:38] #76 closed

[2021-03-16 07:02] ty-russ opened #77 "failed to install cargo-generate"
The following warnings were emitted during compilation:

warning: cc1.exe: sorry, unimplemented: 64-bit mode not compiled in
warning: cc1.exe: sorry, unimplemented: 64-bit mode not compiled in

error: failed to run custom build command for `libz-sys v1.1.2`

Caused by:
  process didn't exit successfully: `C:\Users\user\AppData\Local\Temp\cargo-install9c9Xjd\release\build\libz-sys-1d114701a840fc80\

[2021-03-25 19:03] lygamac commented on #77
gcc only works with 32-bit rust compiler. Use MSVC instead.

https://github.com/alexcrichton/cc-rs#compile-time-requirements

[2021-04-03 03:02] Jason5Lee opened #79 "Failed to build on macOS"
`cargo build` error message:

[code]

Problem still exists after `brew install zlib` .

[2021-04-03 03:04] Jason5Lee commented on #79
Fixed by `rm -rf target` .

[2021-04-03 03:04] #79 closed

[2021-04-29 23:21] #77 closed

[2021-05-20 20:20] mulimoen opened #80 "Forwarding the name of the linked library"
In building a static version of `hdf5` we require the name of the library to appropriately link into a C dependency. Would it be possible to forward the name used for linking, i.e.
[code]
should set
[code]
or similar. This would make our life easy, instead of reverse engineering the code fragment in [the build.rs](https://github.com/rust-lang/libz-sys/blob/6b12e9a37bae1a444aaa1a11248c5b0e555869b4/

[2021-05-23 19:49] mulimoen commented on #80
Turns out this is unnecessary for us, and probably for other crates too.

[2021-05-23 19:49] #80 closed

[2021-06-17 06:54] TQLeung opened #82 "Faile to build! libz-sys 1.1.3, use nightly-x86_64-pc-windows-gnu toolchain"
nightly-x86_64-pc-windows-msvc can build success
but nightly-x86_64-pc-windows-gnu is faile! any version

error: failed to run custom build command for `libz-sys v1.1.3`

[2021-06-18 09:04] TQLeung commented on #82
@steveklabnik @snorp @mneumann @skade how can i fix it?

[2021-11-11 13:37] figsoda opened #83 "Allow linking against system zlib-ng"
Currently it always(*) builds the vendored zlib-ng when zlib-ng feature is enabled

[2021-11-21 23:11] kornelski opened #84 "Does not use system dylib when cross-compiling on macOS"
macOS has fat binary dylibs with executable code for multiple architectures. When cross-compiling between macOS on x86 and ARM, all system libraries are usable on both architectures, including libz.1.dylib.

The current logic gives up on system zlib when [`target != host`](
https://github.com/rust-lang/libz-sys/blob/6b12e9a37bae1a444aaa1a11248c5b0e555869b4/build.rs#L73), which causes unnecessary s

[2021-11-21 23:18] kornelski commented on #84
Detection whether `/usr/lib/libz.dylib` is actually available as a fat binary is unfortunately complicated, because since macOS 11 all system libraries are part of a monolithic shared cache, and don't exist as individual files in the file system any more (library paths are merely magic keys for lookup in system cache). Apple recommends checking their existence by running `dlopen`, but that's highl

[2021-11-21 23:37] kornelski commented on #84
Similar issue when cross-compiling to iOS. iOS has libz shared library.

[2021-12-03 08:30] zulc22 opened #86 "libz-sys is incompatible with Visual Studio 2022 (unsupported or unknown VisualStudio version: 17.0)"
[code]

[2022-03-06 23:54] #84 closed

[2022-03-06 23:57] #70 closed

[2022-03-09 18:59] gouthamreddy09 opened #91 "could not compile libz-sys because libc::off_t not found"
Hello,
I tried compiling my project with Miniflare but it fails with this error.
I'm using Windows Sub system Linux 2.0,Ubuntu 20.04.
![error](https://user-images.githubusercontent.com/32016010/157512367-3b6eb438-b808-4411-8566-a407364f5df7.png)

[2022-03-28 17:15] edmorley opened #93 "Build fails with `unrecognized command-line option '-arch'` when cross-compiling"
Hi :-)

Has anyone seen anything like this before when cross-compiling on an M1 Mac?

This cross-compile configuration works successfully for a variety of other crates, however this is the first crate I'm using that uses CMake, so I'm not sure if it's a `libz-sys` specific problem, or with cross-compiling with CMake and this toolchain in general.

### Steps to reproduce

1. `brew install messense/

[2022-03-29 08:38] edmorley commented on #93
The `CMakeError.log` file mentioned contains:

[code]

And `.../out/build/CMakeFiles/3.22.3/CMakeSystem.cmake` contains:

[code]

[2022-03-30 11:58] edmorley commented on #93
Upgrading from CMake 3.22.3 to the newly released 3.23.0 (both installed via brew), doesn't help.

[2022-04-22 21:30] tbu- commented on #82
Needs error messages. Since the issue is quite old and none are provided, it can probably be closed.

[2022-04-24 08:37] edmorley commented on #93
I don't suppose anyone has ideas of what to try next? :-)

[2022-04-24 22:40] tbu- opened #95 "Doesn't compile for WebAssembly with `static` feature"
See #94.

[2022-04-27 10:47] #95 closed

[2022-04-27 10:47] joshtriplett commented on #91
Fix merged, will be in the next release.

[2022-04-27 10:47] #91 closed

[2022-05-28 06:14] joshtriplett commented on #86
With #87 merged, this should be fixed. Please feel free to open an issue if you encounter a bug with the new version.

[2022-05-28 06:14] #86 closed

[2022-05-28 06:16] #82 closed

[2022-05-31 10:48] NobodyXu opened #100 "NEON instructions not enabled on `armv7-linux-gnueabihf`"
When compiling this project on `armv7-linux-gnueabihf` through [rust-lang/libz-sys](https://github.com/rust-lang/libz-sys/blob/main/build_zng.rs) in PR https://github.com/ryankurte/cargo-binstall/pull/150, the [build] failed with:

[code]

I think it might be a bug in this project or upstream `zlib-ng`, so I also opened an issue in `zlib-ng` https://github.com/zlib-ng/zlib-ng/issues/1280

[build]:

[2022-05-31 12:51] #100 closed

[2022-06-01 01:47] wezm opened #101 "Latest patch release increases MSRV"
The use of [extended_key_value_attributes](https://github.com/rust-lang/rust/issues/78835) requires 1.54.0 or newer.

I don't see mention of a minimum supported Rust version in the README or Cargo.toml and note that CI tests on latest stable, beta, and nightly so perhaps this is not considered an issue but wanted to note the the latest patch release (1.1.8) breaks support for older Rust versions.

[2022-06-07 15:46] happysalada commented on #83
I am interested in this feature too.
Some environment_variable like ZLIB_NG_DIR or something in the like would be amazing.
Happy to implement this if there it is allowed.

[2022-06-13 11:02] mindrock opened #102 "closed！Thanks！"
Hi @snorp @mneumann @alexcrichton
error: failed to run custom build command for `libz-sys v1.1.8` , with CLI command "cargo build --target=wasm32-wasi"

I want to compile this [repository](https://github.com/MediosZ/rust-mysql-simple/tree/mywasi),error was happened.i want to fix it with one days, always failed to build on macOS.rendering me unable to use cargo-update.

below detail error info:

_c

[2022-06-18 22:31] samdenty opened #103 "No available targets are compatible with triple "wasm32-unknown-unknown""
I'm trying to compile an application using `flate2` with `features = ["zlib-ng-compat",], default-features = false` and I'm getting an error:

[code]

[2022-06-18 22:33] samdenty commented on #102
Hi mindrock how did you fix this?

[2022-07-05 11:18] ghuls opened #104 "Problems reading GZIPPED file with libz-sys > 1.1.5 and zlib-ng-compat"
Problems reading GZIPPED file with libz-sys > 1.1.5 with`zlib-ng-compat`.
With `zlib` and `it works fine. With `libz-sys == 1.1.5` and `zlib-ng-compat` it also works fine.

See: https://github.com/pola-rs/polars/issues/3895

https://temp.aertslab.org/.tsv/atac_fragments.head40000000.tsv.gz

[code]

`Cargo.toml`
[code]

`src/main.rs`
[code]

Get polars:
[code]

Ttry dffirent flate2 backends in pola

[2022-07-09 16:19] q2p opened #105 "Build failing with Build Tools 2022 on Windows 10."

[2022-07-27 05:10] #105 closed

[2022-09-27 08:43] stjepangolemac opened #106 "Can't compile zlib-ng feature on M1 Mac"
I've opened a similar issue here https://github.com/rust-lang/flate2-rs/issues/318

I'll close one of them as soon as I figure out the right place for it.

[code]

Compiling with that feature returns this:
[code]

Compiling with `zlib-ng-compat` fails too but returns a lot more output:

<details>
<summary>Error output</summary>

[code]
</details>

I've tried installing `zlib-ng` through homebrew b

[2022-10-08 01:03] NobodyXu opened #107 "Failed to compile libz-ng-sys v1.1.8 on armv7-unknown-linux-gnueabihf"
Running cmd

[code]

on cargo-binstall v0.15.0 failed with error:

[code]

From [CI failure](https://github.com/cargo-bins/cargo-binstall/actions/runs/3205368344/jobs/5238021124).

and

[code]

According to [this comment](https://github.com/cross-rs/cross/issues/1066#issuecomment-1272182940):

libz-ng should not use NEON intrinsics on armv7hf and it should also use hard float-abi.

[2022-10-08 01:03] NobodyXu opened #108 "Failed to compile libz-ng-sys v1.1.8 on armv7-unknown-linux-gnueabihf"
Running cmd

[code]

on cargo-binstall v0.15.0 failed with error:

[code]

From [CI failure](https://github.com/cargo-bins/cargo-binstall/actions/runs/3205368344/jobs/5238021124).

and

[code]

According to [this comment from @Alexhuszagh](https://github.com/cross-rs/cross/issues/1066#issuecomment-1272182940):

libz-ng should not use NEON intrinsics on armv7hf and it should also use hard float-abi

[2022-10-08 14:49] Alexhuszagh commented on #108
FYI: this seems to be fixed with a more recent toolchain (GCC 9.4.0 and glibc 2.31) and fails with an older one (GCC 5.4.0 and glibc 2.23). I'm not sure if libz-sys supports older glibc versions?

[2022-10-27 22:28] JohnTitor commented on #107
Seems duplicate of #108, closing.

[2022-10-27 22:28] #107 closed

[2022-10-28 21:57] thomcc commented on #108
This caused issues with cmake-rs's CI in https://github.com/rust-lang/cmake-rs/pull/164.

Should cmake-rs be doing something to help here?

[2022-10-28 23:09] Alexhuszagh commented on #108
The feature detection for a hard-float ARMv7 target seems to be fixed with a more recent GCC version, so this should hopefully be fixed with the 0.3.0 release. I'll check out the PowerPC64 issue as well, and I'll try to triage roughly loosely what toolchain versions replicate the issue. Maybe this can help either cmake-rs or ccs-rs, since this isn't exclusively a cross issue and it would be nice t